@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Poppins:wght@400;600;700;800;900&family=Racing+Sans+One&family=Zeyada&display=swap');
@tailwind base;

@font-face { 
  font-family: "chomsky"; 
  src: url("../../public/assets/Chomsky.otf"); 
} 

body{
  @apply bg-white font-Poppins;
}
@tailwind components;
@tailwind utilities;

p{
  @apply mt-0.5 md:mt-1;
}


/* *{
  font-size: 16px;
  font-weight:normal;
} */

/* CSS -> p not working inside RICH COMPONENTS */